* {
  /* box-sizing: content-box; */
}
.gallery {
  border: 1px solid #ccc;
  position: relative;
}
.gallery img {
  width: 100%;
  height: auto;
}
.responsive {
  padding: 0 6px;
  /* float: left; */
  /* width: 25%; */
}

@media only screen and(max-width:700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}
@media only screen and(max-width:500px) {
  .responsive {
    width: 100%;
  }
}

.colllection-section {
}

.collection-section img {
  width: 100%;
  border-radius: 5px;
}

.collection-section div {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.primary-heading {
  font-size: 40px;
  font-weight: 700;
  color: #4487b1;
}

.secondary-heading {
  margin-bottom: 0px;
  letter-spacing: 5px;
  color: #949494;
}
/* ************index********** */
/* .parallax {
      /* The image used */
      background-image: url("img/23.jpg");
  
      /* Set a specific height */
      min-height: 2000px;
  
      /* Create the parallax scrolling effect */
      background-attachment:fixed;
      background-position:bottom;
      background-repeat: no-repeat;
      background-size: cover;
    } */