/**************navbar**************************/

.navbar-nav {
  margin-left: auto;
  /* padding-left: 800px; */
}
.navbar-brand img {
  max-width: 150px;
  /* float: left; */
}
.navbar-nav .nav-item {
  float: right;
  padding-left: 24px;
}
.navbar-brand {
  padding-left: -20px;
}

/* ***********navbar ends here****************** */

/*********************index page********************* */
.parallax {
  background-image: url("");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-text {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  min-width: 60%;
  background-color: #f5deb35c;
}

.parallax-text {
  max-width: 820px;
  width: 100%;
  padding: 40px 20px;
  background-color: rgb(0 0 0 / 30%);
}

.product-container {
  min-height: 300px;
  background-size: cover;
  overflow: hidden;
}
.product-text-w,
.product-text-c,
.product-text-cp {
  color: white;
  min-width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-text-w {
  background-color: #70592ea9;
}
.product-text-c {
  background-color: #3d07008f;
}
.product-text-cp {
  background-color: #3f290062;
}
.points {
  font-size: larger;
}
/* *****************index page ends here************* */

/* *******************collection page******************* */

.card {
  transition: 10s ease-in-out;
}
.card :hover {
  filter: brightness(80%);
}

/* *****************collection page ends here*********** */

/* *******************about page******************** */
.primary-heading {
  font-size: 40px;
  font-weight: 700;
  color: #4487b1;
}

.secondary-heading {
  margin-bottom: 0px;
  letter-spacing: 5px;
  color: #949494;
}
.text-lg {
  font-size: 1.1rem;
  color: #484848;
  text-align: justify;
}
.col-md-6 {
  padding: 30px;
}
.about {
  padding-top: 5%;
}
/* *********************about page ends here************** */

/* **************contact page here**************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: rgb(76, 145, 185);
}
.contact .content p {
  font-weight: 300;
  color: rgb(72, 81, 90);
}

.container .contactinfo {
  display: flex;
  flex-direction: column;
}
.container .contactinfo .box {
  position: relative;
  padding: 0px 0 40px;
  display: flex;
  align-items: center;
}
.container .contactinfo .box .icon {
  min-width: 45px;
  height: 45px;
  background: rgb(76, 145, 185);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin: 20px;
  cursor: pointer;
}
.container .contactinfo .box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.container .contactinfo .box .text p {
  margin-bottom: 0px;
}
.container .contactinfo .box .text h2 {
  font-weight: 500;
  color: rgb(76, 145, 185);
  margin-bottom: 0px;
}
.contactForm {
  padding: 50px;
  background: #fff;
  margin-top: 7px;
}
h2 {
  font-size: 24px;
  color: rgb(76, 145, 185);
  font-weight: 500;
}
.contactForm .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid rgb(92, 89, 88);
  outline: none;
  resize: none;
  background-color: white;
}
.contactForm .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: rgb(76, 145, 185);
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
  color: #615f5d;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"] {
  width: 100px;
  background: rgb(76, 145, 185);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 991px) {
  .contact {
  }
  .container {
  }
  .container .contactinfo {
    width: 100%;
  }
  .container .contactinfo {
  }
}
.follow-us {
  margin-left: 5%;
}
.box .icon {
  margin-left: 10%;
}
@media (max-width: 600px) {
  .contactForm {
    padding: 10px;
  }
  .container .contactinfo .box .icon {
    min-width: 40px;
    height: 40px;
    background: rgb(76, 145, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin: 12px;
  
    
  }
}

/* ***************contact page ends here*********** */

/* ******************footer starts here************ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

footer {
  padding: 10px 0;
  background-color: #101010;
  color: #9d9d9d;
  bottom: 0;
  width: 100%;
  /* position: fixed; */
  left: 0;
  bottom: 0;
}

/* ******************footer ends here************ */
