/* footer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container-footer {
  max-width: 1170px;

  margin: auto;
}
.footer {
  /* margin-top: 1080px; */
  background-color: #3c3d41;
  padding: 70px 0;
}
ul {
  list-style: none;
}
/* .row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0px;
} */
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  padding-left: 28px;
  /* padding-top: 200px; */
}
.footer-col h4 ::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #27282b;
  background-color: #ffffff;
}
/* responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Prashant here */

.navbar-nav {
  margin-left: auto;
}
/* .nav-container{
  background-color: #555657;
  display:flow-root;
  padding: 0 10%;
}
.navbar-brand{
  display: table;
  float: left;
  vertical-align: middle;
  padding: 0%;
  color:white;
 
  width: 180px;
  height: 68px;
  position: relative;
  z-index: 9;
  transition:all 0.5s;
 
}
.navbar-brand:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: -50px;
    width: 50%;
    transform:skew(30deg);
    background-color: #3c3d41;
}
.navbar-brand:after{
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: 10%;
  width: 2000px;
  background-color: #3c3d41;
}
.navbar-brand a{
  color: #bbbbbb;
  font-size: 33px;
  font-weight: 600;
  line-height: 70px;
  text-decoration: none;
}
.navbar-nav ul li{
  display: inline-block;
  line-height: 70px;
  border-radius: 14px;
  
}
.navbar-nav li.active a{
  color: #ffffff;
  background-color: #3d4e7e;
  border-radius:14px ;
  
}
.navbar-nav li a{
 padding: 15px 87px;
 border: 0;
 margin-bottom: 0px;
 font-size: 16px;
 font-weight: 500;
 color: #bbbbbb;
 opacity: 1;
 text-decoration: none;
 transition: all 0.5s;
 border-radius: 11px;

}
.navbar-nav li:hover a{
  color: #68aee7;
  background-color: #f0f2f7;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
@media(max-width:1250px){
  /* .nav-container{
    padding: 0 2%;
  }
  .navbar-nav li a{
    padding: 15px 20;
  } */

/* ......homepage.... */
.circle {
  width: 600px;
  height: 600px;
  background: rgba(230, 194, 194, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: -1;
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lefty {
  flex-basis: 40%;
  max-width: 450px;
}
.righty {
  flex-basis: 10%;
  text-align: right;
}
.righty img {
  width: 90%;
}

.parallax {
  /* background-image: url(""); */
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-text {
  font-size: 100px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  min-width: 60%;
  background-color: #f5deb35c;
}
